<footer class="d-flex m-0 mt-4 justify-content-between align-items-center p-4">
  <div class="me-2">
    <a href="https://alliancecan.ca/" target="_blank">
      <img src="/public/drac/drac_banner.png"
           alt="The Digital Research Alliance of Canada"
           height="60px"
           style="width: auto;">
     </a>
  </div>
  <span id="ood_version">OnDemand version: <%= Configuration.ood_version %></span>
</footer>
