<div class="alert alert-warning" role="alert">
  <strong>License Required:</strong> This application launches MATLAB, which is restricted software available only through a licensed CVMFS path.

  <ul class="mt-2">
    <li>You must have access to a valid MathWorks license to use this software.</li>
    <li>If the license is not available, the session will fail to launch.</li>
    <li>Contact your PI, research group, or department if you need access to MATLAB.</li>
  </ul>

  For more information, see the <a href="https://docs.alliancecan.ca/wiki/Vulcan" target="_blank">Vulcan cluster documentation</a> or reach out to support.
</div>

